* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 100px;
    background-image: linear-gradient(to top right, #ffffff 0%, #030435 50%, #0759a0 100%);
}
#app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
}
.content {
    text-align: center;
}
.content h1 {
    color: #b2b1d4;
    margin-bottom: 40px;
}
.content img {
    max-width: 800px;
}
.primary {
    margin-bottom: 30px;
    text-align: center;
    color: rgb(105, 105, 255);
}
